{% extends 'layouts/layout.html' %}
{% block content %}
  <main id="main">


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Habilidades en las cuales soy bueno</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-12">
            {% for Skillt in Skill%}
            <div class="progress">
              <span class="skill">
                
                  {{ Skillt.Bueno }}
                
              </span>
            </div>
            {% endfor %}
          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

        <!-- ======= weakness Section ======= -->
        <section id="weakness" class="skills section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Debilidades</h2>
              <p>Estas son mis debilidades, y cosas que debo mejorar con el tiempo</p>
            </div>
    
            <div class="row skills-content">
    
              <div class="col-lg-12">
                {% for Skillt in Skill%}
                <div class="progress">
                  <span class="skill">
                    
                      {{ Skillt.Malo }}
                    
                  </span>
                </div>
                {% endfor %}
              </div>   
            </div>
    
            </div>
    
          </div>
        </section><!-- End weakness Section -->


  </main><!-- End #main -->
  {% endblock %}